<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Chitter</title>
</head>
<body>
  <h1>Chitter</h1>
  <div>
    <form action="/post" method="post">
      <textarea id="peep" name="peep" rows="2" cols="70"></textarea>
      <button type="submit">Post</button>
    </form>
  </div>
  <div>
    <% peeps.each do |p| %>
      <p><%= p %></p>
    <% end %>
  </div>
</body>
